html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

body {
	background-color: grey;
}

.game {
	background-color: dimgrey;
}

canvas {
	background-color: midnightblue;
	width: 100%;
	height: auto;
}